// variables
// Add your variables here

html,
body,
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // Add your body styles here
}

.container {
    display: inline-grid;
    margin: 8px;
    & .button {
        margin-bottom: 8px;
    }
}
.button {
    // Add your button styles here
}
