// Add your mixins taht you need here

html,
body,
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    max-width: 500px;
    margin: 0 auto;
    p {
        margin: 8px;
        &:nth-child(1) {
            // Include your mixin here to test
        }
        &:nth-child(2) {
            // Include your mixin here to test
        }
        &:nth-child(3) {
            // Include your mixin here to test
        }
        &:nth-child(4) {
            // Include your mixin here to test
        }
    }
}
