// use the modules that you need

.container {
    display: inline-grid;
    margin: 8px;
    & .button {
        margin-bottom: 8px;
    }
}
.button {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    // outline: value
    font-size: 16px;
    line-height: 20px;
    color: inherit;

    &-primary {
        // background-color: value;
        // color: value;
        &:hover {
            opacity: 0.7;
        }
    }
    &-secondary {
        // background-color: value;
        &:hover {
            outline-width: 2px;
        }
    }
    &-tertiary {
        outline: none;
        // background-color: value;
        &::after {
            content: '→';
            display: inline-flex;
            margin: 0 0 0 8px;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}
