html,
body,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  margin: 8px;
}

.nova-grid {
  --columns: 12;
  --gap: 16px;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);
}
.nova-grid > * {
  grid-column-end: span var(--columns);
}
@media (min-width: 320px) {
  .nova-grid {
    --columns: 12;
    --gap: 16px;
  }
  .nova-grid .nova-col-s-1 {
    grid-column-end: span 1;
  }
  .nova-grid .nova-col-s-2 {
    grid-column-end: span 2;
  }
  .nova-grid .nova-col-s-3 {
    grid-column-end: span 3;
  }
  .nova-grid .nova-col-s-4 {
    grid-column-end: span 4;
  }
  .nova-grid .nova-col-s-5 {
    grid-column-end: span 5;
  }
  .nova-grid .nova-col-s-6 {
    grid-column-end: span 6;
  }
  .nova-grid .nova-col-s-7 {
    grid-column-end: span 7;
  }
  .nova-grid .nova-col-s-8 {
    grid-column-end: span 8;
  }
  .nova-grid .nova-col-s-9 {
    grid-column-end: span 9;
  }
  .nova-grid .nova-col-s-10 {
    grid-column-end: span 10;
  }
  .nova-grid .nova-col-s-11 {
    grid-column-end: span 11;
  }
  .nova-grid .nova-col-s-12 {
    grid-column-end: span 12;
  }
}
@media (min-width: 764px) {
  .nova-grid {
    --columns: 12;
    --gap: 32px;
  }
  .nova-grid .nova-col-m-1 {
    grid-column-end: span 1;
  }
  .nova-grid .nova-col-m-2 {
    grid-column-end: span 2;
  }
  .nova-grid .nova-col-m-3 {
    grid-column-end: span 3;
  }
  .nova-grid .nova-col-m-4 {
    grid-column-end: span 4;
  }
  .nova-grid .nova-col-m-5 {
    grid-column-end: span 5;
  }
  .nova-grid .nova-col-m-6 {
    grid-column-end: span 6;
  }
  .nova-grid .nova-col-m-7 {
    grid-column-end: span 7;
  }
  .nova-grid .nova-col-m-8 {
    grid-column-end: span 8;
  }
  .nova-grid .nova-col-m-9 {
    grid-column-end: span 9;
  }
  .nova-grid .nova-col-m-10 {
    grid-column-end: span 10;
  }
  .nova-grid .nova-col-m-11 {
    grid-column-end: span 11;
  }
  .nova-grid .nova-col-m-12 {
    grid-column-end: span 12;
  }
}
@media (min-width: 1016px) {
  .nova-grid {
    --columns: 12;
    --gap: 32px;
  }
  .nova-grid .nova-col-l-1 {
    grid-column-end: span 1;
  }
  .nova-grid .nova-col-l-2 {
    grid-column-end: span 2;
  }
  .nova-grid .nova-col-l-3 {
    grid-column-end: span 3;
  }
  .nova-grid .nova-col-l-4 {
    grid-column-end: span 4;
  }
  .nova-grid .nova-col-l-5 {
    grid-column-end: span 5;
  }
  .nova-grid .nova-col-l-6 {
    grid-column-end: span 6;
  }
  .nova-grid .nova-col-l-7 {
    grid-column-end: span 7;
  }
  .nova-grid .nova-col-l-8 {
    grid-column-end: span 8;
  }
  .nova-grid .nova-col-l-9 {
    grid-column-end: span 9;
  }
  .nova-grid .nova-col-l-10 {
    grid-column-end: span 10;
  }
  .nova-grid .nova-col-l-11 {
    grid-column-end: span 11;
  }
  .nova-grid .nova-col-l-12 {
    grid-column-end: span 12;
  }
}
@media (min-width: 1436px) {
  .nova-grid {
    --columns: 12;
    --gap: 32px;
  }
  .nova-grid .nova-col-xl-1 {
    grid-column-end: span 1;
  }
  .nova-grid .nova-col-xl-2 {
    grid-column-end: span 2;
  }
  .nova-grid .nova-col-xl-3 {
    grid-column-end: span 3;
  }
  .nova-grid .nova-col-xl-4 {
    grid-column-end: span 4;
  }
  .nova-grid .nova-col-xl-5 {
    grid-column-end: span 5;
  }
  .nova-grid .nova-col-xl-6 {
    grid-column-end: span 6;
  }
  .nova-grid .nova-col-xl-7 {
    grid-column-end: span 7;
  }
  .nova-grid .nova-col-xl-8 {
    grid-column-end: span 8;
  }
  .nova-grid .nova-col-xl-9 {
    grid-column-end: span 9;
  }
  .nova-grid .nova-col-xl-10 {
    grid-column-end: span 10;
  }
  .nova-grid .nova-col-xl-11 {
    grid-column-end: span 11;
  }
  .nova-grid .nova-col-xl-12 {
    grid-column-end: span 12;
  }
}
.nova-col-demo {
  background-color: paleturquoise;
  height: 100px;
  border: 1px solid green;
}

/*# sourceMappingURL=main.css.map */
